.Row2 {
    
    margin-right: 6px;
    background-color: #EEE;
    height: 50%;
    display: table-row;display: inline-block;
}
.Board2{
    display: table; 
    border-collapse: separate; 
    border-spacing: 30px 0;   
}
.Header {
	margin: 0 0 20px 0;
	height: 46px;
	padding: 14px 14px 0 14px;
	color: white;
	background-color: #A60000;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 4px;
}
.Row {
    margin-right: 6px;
    background-color: #EEE;
    height: 50%;
    display: inline-block;
}
.Board3 {
    display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; overflow: hidden;
}
.Row3 { 
    width: calc(100% / 2 - 5px); 
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox; 
    display: flex;
}